<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet/less" href="/stylesheets/style.less">
    <script src="/javascripts/jquery-1.11.2.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/less.min.js"></script>
    <script src="/KindEditor/kindeditor-min.js"></script>
    <script src="/KindEditor/lang/zh_CN.js"></script>
    <script>
        var editor;
        var options = {
            uploadJson: '/uploadImg',
            items : [
                'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic',
                'underline', 'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright',
                'insertorderedlist', 'insertunorderedlist', '|', 'emoticons', 'image', 'link']
        };
        KindEditor.ready(function(K) {
            editor = K.create('textarea', options);
        });
    </script>
</head>
<body>
    <div class="blog-toolbar">
        <div class="container">
            <div class="row clearfix">
                <div class="col-md-3 pull-left logo">
                    <a href="/">博客</a>
                </div>
                <div class="col-md-3 col-md-offset-3">
                    <form action="/search" method="GET">
                        <div class="input-group">
                            <input type="text" class="form-control" name="keyword" placeholder="Search">
                            <span class="input-group-addon" onclick="window.location.href='/search'">
                                <i class="glyphicon glyphicon-search"></i>
                            </span>
                        </div>
                    </form>
                </div>
                <div class="pull-right user-info">
                    <% if (user) { %>
                        <a href="#"><%- user.name %></a>
                        |
                        <a href="#">修改密码</a>
                        |
                        <a href="/logout">退出</a>
                    <% } else { %>
                    <a href="/login">登录</a>
                    |
                    <a href="/reg">注册</a>
                    <% } %>
                </div>
            </div>

        </div>
    </div>
    <div class="blog-banner">
        <div class="container">
            <ul class="clearfix">
                <li class="active">
                    <a href="/">首页</a>
                </li>
                <% if (user) { %>
                <li>
                    <a href="/post">写新文章</a>
                </li>
                <li>
                    <a href="/tags">文章标签</a>
                </li>
                <li>
                    <a href="/archive">文章存档</a>
                </li>
                <% } %>
                <li>
                    <a href="/hot">热门文章</a>
                </li>
            </ul>
        </div>
    </div>

    <!-- <article>
        <% if (success) { %>
            <div><%= success %></div>
        <% } %>
        <% if (error) { %>
            <div><%= error %></div>
        <% } %>
     -->