<%- include header %>
<div class="container mt20">
  <form method="post" class="form-horizontal">
    <div class="err"><%- error %></div>
    <div class="form-group">
      <label for="mod_password">旧密码</label>
      <input type="password" class="form-control" id="mod_password" name="mod_password">
    </div>
    <div class="form-group">
      <label for="mod_new-password">新密码</label>
      <input type="password" class="form-control" id="mod_new-password" name="mod_new-password">
    </div>
    <div class="form-group">
      <label for="mod_re-password">确认新密码</label>
      <input type="password" class="form-control" id="mod_re-password" name="mod_re-password">
    </div>
    <div class="form-group">
      <div class="col-xs-5">
        <button type="submit" class="btn btn-info">确认修改</button>
      </div>
    </div>
  </form>
</div>

<%- include footer %>
