<nav>
  <ul class="pager">
      <% if (!isFirstPage) { %>
          <li class="prepage"><a title="上一页" href="?page=<%= page-1 %>">上一页</a></li>
      <% } %>
      <% if (!isLastPage) { %>
          <li class="nextpage"><a title="下一页" href="?page=<%= page+1 %>">下一页</a></li>
      <% } %>
  </ul>
</nav>