<%- include header %>

<div class="blog-banner">
    <div class="container">
        <ul class="clearfix">
            <li>
                <a href="/">首页</a>
            </li>
            <% if (user) { %>
            <li  class="active">
                <a href="/post">写新文章</a>
            </li>
            <li>
                <a href="/tags">文章标签</a>
            </li>
            <li>
                <a href="/archive">文章存档</a>
            </li>
            <% } %>
            <li>
                <a href="/hot">热门文章</a>
            </li>
        </ul>
    </div>
</div><!-- /.blog-banner -->
<div class="container">
    <div class="row">
        <div class="col-sm-8 blog-main">
            <form method="post" class="post-article">
              标题：<br>
              <input type="text" name="title" required><br>
              <div class="tags">
                标签：<br>
                <input type="text" name="tag1">
                <input type="text" name="tag2">
                <input type="text" name="tag3"><br>
              </div>
              正文：<br>
              <textarea name="editor" id="editor"></textarea><br>
              <button type="submit" class="btn btn-info">发表</button>
            </form>
        </div><!-- /.blog-main -->
    </div>
</div>
<%- include footer %>
