<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
    <div class="sidebar-module sidebar-module-inset">
      <h4>关于</h4>
      <p>博客，即Blog，它又被称为网络日志，是一个能为人们提供内容发布，评论转载交流的平台。博客上的文章通常根据发布时间，以倒序方式排列，或者按照主题进行归档分类。</p>
    </div>

    <div class="sidebar-module">
      <h4>友情链接</h4>
      <ol class="list-unstyled">
        <li><a href="https://github.com/">GitHub</a></li>
        <li><a href="http://blog.csdn.net/">CSDN</a></li>
        <li><a href="http://www.cnblogs.com/">博客园</a></li>
      </ol>
    </div>
</div>